body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 90vh; */
}
.card{
  width: 300px;
  padding: 0 10px;
  background-color: teal;
  border: 2px solid cyan;
  border-radius: 10px;
  margin: 5px 20px;
  display: block;
  text-align: center;
}
.card img{
  margin: 10px 0;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid darkgray
}

.card button{
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
} 

.navbar{
  background-color: blue;
  color: white;
  margin: 10px;
  /* padding: 10px 50%; */
  text-align: center;
}